body {
  align-content: center;
  align-items: center;
  background: #202020;
  /* display: flex; */
  margin: 0;
}

canvas {
  border: solid 1px #fff;
  border-left: none;
  border-right: none;
  image-rendering: pixelated;
  height: 100%;
  margin: 30px 30px 0px 30px;
}

main {
  color: white;
  margin: 0 30px 0 ;
}
